/* CSS DOCUMENT */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display:block;}body{line-height:1;}ol, ul{list-style:none;}blockquote, q{quotes:none;}blockquote:before, blockquote:after,q:before, q:after{content:'';content:none;}table{border-collapse:collapse;border-spacing:0;}img{width:100%;}

h1{
    font-family: proxima-nova, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 5.5em;
    line-height: .9;
    color: #FFF;
    padding-bottom: .2em;
}

h2{
    font-family: depot-new-web, sans-serif;
    font-weight: 300;
    font-size: 1.5em;
    max-width: 25em;
    line-height: 1.8em;
    color: #FFF;  
}

h3{
    font-family: depot-new-web, sans-serif;
    font-weight: 400;
    font-size: 2em;
    line-height: 1.3em;
    color: #FFF;
}

h4{
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
    font-size: 1em;
    text-transform: uppercase;
    color: #A7A7A7;
}

h5{
    font-family: depot-new-web, sans-serif;
    font-weight: 600;
    font-size: 2.7em;
    line-height: 1.2em;
    margin-bottom: .4em;
    color: #FFF;  
}

p{
    font-family: depot-new-web, sans-serif;
    font-weight: 300;
    font-size: 1.2em;
    line-height: 1.7em;
    color: #FFF;
}

b{
    font-weight: 600;
    color: #000;
}

button{
    color: #FFF;
    cursor: pointer;
    background: none;
    padding: .5em 1em;
    font-family: proxima-nova, sans-serif;
    font-weight: 500;
    font-size: 1em;
    border: #FFF solid 2px;
    border-radius: 4px;
    transition: ease .3s;
    margin-top: 1.3em
}

button:hover{
    color: #121212;
    background: #FFF;
    box-shadow: 0 .5em 1em rgba(0, 0, 0, 0.7);
    transform: translateY(-.2em)
}

@media only screen and (max-width: 70em) {
    h1{font-size: 4em}
    h2{font-size: 1.3em}
    h3{font-size: 1.7em}
}

@media only screen and (max-width: 50em) {
    h1{font-size: 3.3em}
    h2{font-size: 1.2em}
    h3{font-size: 1.4em}
    h4{font-size: .9em}
    h5{font-size: 2.2em}
    p{font-size: 1.1em; line-height: 1.8}
    button{font-size: .9em; font-weight: 600}
}

/*---------------------ARTICLES-----------------------*/

.content_wrapper{
    max-width: 45em;
    margin: 5em auto;
    padding: 0 5em;
}

@media only screen and (max-width: 60em) {
    .content_wrapper{
        padding: 0 2.5em;
        margin: 2.5em auto;
    }
}

@media only screen and (max-width: 40em) {
    .content_wrapper{
        padding: 0 2em;
        margin: 2em auto;
    }
}

/*---------------------TBD-----------------------*/

main{
    background-color: #000;
    overflow-x: hidden;
} 

.social img{
    width: 1.1em;
    padding: 0 .9em;
}


/*---------------------INTRO-----------------------*/

.intro_wrapper{
/*    margin: 0 5em;*/
    transition: ease .5s;
}

.intro_bg{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    background-color: #242424;
    margin: 0 auto 4em;
    min-height: 33em;
    /* border-bottom-left-radius: 1.5em;
    border-bottom-right-radius: 1.5em; */
    box-shadow: 0 .5em 2em rgba(0, 0, 0, 0.6);
}

.headshot{
    transform: translateX(5em);
    grid-column: 2/-1;
    grid-row: 1/-1;
}

.headshot img{
    position: absolute;
    bottom: 0;
    object-fit: contain;
    max-height: 115%;
}

.intro_text_wrapper {
    grid-column: 1/-1;
    grid-row: 1;
    z-index: 1;
}

.intro_text{
    max-width: 80em;
    padding: 20vh 5em;
    margin: 0 auto;  
}

.intro_text h2 img{
    width: .9em;
    display: inline-block;
    margin: 0 5px 3px 0px;
    vertical-align: middle;
}

.intro_text a{
    font-family: depot-new-web, sans-serif;
    color: #FFF;
    text-decoration: none;
    white-space: nowrap;
}

.intro_text img{
    margin-top: 1em;
    width: 13em;
}

@media only screen and (max-width: 100em){
    .intro_wrapper{margin: 0}
}

@media only screen and (max-width: 85em) {
    .headshot{
        transform: translateX(-2em);
        grid-column: 1/-1;
        width: 160%;
    }
}

@media only screen and (max-width: 60em) {
    .headshot{
        opacity: .3;
        width: 160%;
    }
}

@media only screen and (max-width: 50em) {
    .intro_text{padding: 11em 2em 8em}
    .intro_text img{width: 10em;}
}

@media only screen and (max-width: 33em) {
    .headshot{width: 80em; transform: translateX(-17em)}
}

/*For Android multitasking and small square-ish screens*/
@media only screen and (max-width: 35em) and (max-height: 30em) {
    .intro_bg{min-height: auto}
    .intro_text{padding: 7em 2.5em 4em}
    .headshot{width: 80em; transform: translateX(-17em)}
}

/*---------------------SECTION HEADERS-----------------------*/

.section_header{
    text-align: center;
}

.section_header h4{
    color: #FFF;
    margin-bottom: .5em
}

.section_header img{
    width: 2em
}

/*Thank you to Codeconvey.com*/
.bounce{
	-moz-animation: bounce 3s 3 3s;
	-webkit-animation: bounce 3s 3 3s;
	animation: bounce 3s 3 3s;
}
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -moz-transform: translateY(-2px);
    transform: translateY(-2px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -moz-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
}


/*---------------------UX BANNERS-----------------------*/

.mobell_uxb_wrapper h4, .boltabout_uxb_wrapper h4, .cp_uxb_wrapper h4{
    color: #FFF
}

.mobell_uxb_wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    margin: 23vh auto;
    max-width: 100em;
    max-height: 100em;
    column-gap: 5%
}

.mobell_uxb_haze{
    align-self: center;
    grid-column: 1/3;
    grid-row: 1;
    width: 30em;
    height: 30em;
    background: radial-gradient(ellipse closest-side, rgba(248,181,0,1) 0%, rgba(248,181,0,0.10) 70%, rgba(248,181,0,0) 100%);
    transform: scale(2) translateX(2em);
    opacity: .5;
    transition: ease 1s;
}

.mobell_uxb_image{
    grid-row: 1;
    grid-column: 1/3;
    transform: scale(1.3);
    transform-origin: right;
    transition: ease 1s;
}

.mobell_uxb_text{
    grid-column: 3/5;
    grid-row: 1;
    margin: 0 4em 0 1em;
    align-self: center;
    z-index: 1;
    max-width: 45em;
    transition: ease 1s;
}

.mobell_uxb_wrapper:hover .mobell_uxb_haze {
    transform: scale(2.7) translateX(2em);
}

.mobell_uxb_wrapper:hover .mobell_uxb_image {
    transform: scale(1.3) translateX(.3em);
}

.mobell_uxb_wrapper:hover .mobell_uxb_text {
    transform: translateX(-.3em);
}

@media only screen and (max-width: 70em) {
    .mobell_uxb_wrapper{
        margin: 10vh auto 18vh;
    }
    .mobell_uxb_image, .mobell_uxb_haze{
        opacity: .2;
        max-height: 70vh;
        width: auto;
    }
    .mobell_uxb_text{
        grid-column: 1/-1;
        margin: 0 auto;
        padding: 0 2em;
    }
    
    .mobell_uxb_wrapper:hover .mobell_uxb_haze {
        transform: scale(2);
    }

    .mobell_uxb_wrapper:hover .mobell_uxb_image {
        transform: scale(1.3) translateX(0);
    }

    .mobell_uxb_wrapper:hover .mobell_uxb_text {
        transform: translateX(0);
    }
}

@media only screen and (max-width: 50em) {
    .mobell_uxb_haze{display: none;}
}

/*--------------*/

.boltabout_uxb_wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    margin: 25vh auto;
    max-width: 100em;
    max-height: 100em;
    column-gap: 3%
}

.boltabout_uxb_haze{
    align-self: center;
    grid-column: 4/5;
    grid-row: 1;
    width: 30em;
    height: 30em;
    background: radial-gradient(ellipse closest-side, rgba(17,172,243,1) 0%, rgba(17,172,243,0.10) 70%, rgba(17,172,243,0) 100%);
    transform: scale(1.8) translateX(-3em) translateY(-1em);
    opacity: .8;
    transition: ease 1s;
}

.boltabout_uxb_image{
    grid-row: 1;
    grid-column: 3/5;
    transform: scale(1.3);
    transform-origin: left;
    transition: ease 1s;
}

.boltabout_uxb_text{
    grid-column: 1/3;
    grid-row: 1;
    margin-left: 3em;
    align-self: center;
    z-index: 1;
    max-width: 45em;
    transition: ease 1s;
}

.boltabout_uxb_wrapper:hover .boltabout_uxb_haze {
    transform: scale(2.5) translateX(-3em) translateY(-1em);
}

.boltabout_uxb_wrapper:hover .boltabout_uxb_image {
    transform: scale(1.3) translateX(-.3em);
}

.boltabout_uxb_wrapper:hover .boltabout_uxb_text {
    transform: translateX(.3em);
}

@media only screen and (max-width: 70em) {
    .boltabout_uxb_wrapper{
        margin: 12vh auto;
    }
    
    .boltabout_uxb_image{
        opacity: .2;
        max-height: 70vh;
        width: auto;
    }
    
    .boltabout_uxb_haze{
        opacity: .2;
        max-height: 70vh;
        transform: scale(1.8);
    }
    
    .boltabout_uxb_text{
        grid-column: 1/-1;
        margin: 0 auto;
        padding: 0 2em;
    }
    
    .boltabout_uxb_wrapper:hover .boltabout_uxb_haze {
        transform: scale(1.8);
    }

    .boltabout_uxb_wrapper:hover .boltabout_uxb_image {
        transform: scale(1.3) translateX(0);
    }

    .boltabout_uxb_wrapper:hover .boltabout_uxb_text {
        transform: translateX(0);
    }
}

@media only screen and (max-width: 50em) {

    .boltabout_uxb_haze{display: none}
    
    .boltabout_uxb_image{transform: translateX(-8em)}
    
    .boltabout_uxb_wrapper:hover .boltabout_uxb_image {transform: translateX(-8em);
    }
}

/*--------------*/

.cp_uxb_wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    margin: 21vh auto;
    max-width: 100em;
    max-height: 100em;
}

.cp_uxb_haze{
    align-self: center;
    grid-column: 1/3;
    grid-row: 1;
    width: 30em;
    height: 30em;
    background: radial-gradient(ellipse closest-side, rgba(21,71,52,1) 0%, rgba(21,71,52,0.10) 90%, rgba(21,71,52,0) 100%);
    transform: scale(1.8) translateX(3em) translateY(-2em);
    opacity: 1;
    transition: ease 1s;
}

.cp_uxb_image{
    grid-row: 1;
    grid-column: 1/3;
    transform: scale(1.1);
    transform-origin: center;
    transition: ease 1s;
}

.cp_uxb_text{
    grid-column: 3/5;
    grid-row: 1;
    margin: 0 4em 0 1em;
    align-self: center;
    z-index: 1;
    max-width: 45em;
    transition: ease 1s;
}

.cp_uxb_wrapper:hover .cp_uxb_haze {
    transform: scale(2.5) translateX(3em) translateY(-2em);
}

.cp_uxb_wrapper:hover .cp_uxb_image {
    transform: scale(1.1) translateX(.3em);
}

.cp_uxb_wrapper:hover .cp_uxb_text {
    transform: translateX(-.3em);
}

@media only screen and (max-width: 70em) {
    .cp_uxb_wrapper{
        margin: 13vh auto 18vh;
    }
/*    Clean this*/
    .cp_uxb_image, .cp_uxb_haze{
        opacity: .2;
        max-height: 80vh;
        width: auto;
        min-height: 25em
    }
    
    .cp_uxb_image{
        transform: scale(1.1) translateX(3em)
    }

    .cp_uxb_haze{
        opacity: .4;
        transform: scale(1.5) translateX(0em);
    }
    
    .cp_uxb_text{
        grid-column: 1/-1;
        margin: 0 auto;
        padding: 0 2em;
    }
    
    .cp_uxb_wrapper:hover .cp_uxb_haze {
        transform: scale(1.5) translateX(0em);
    }

    .cp_uxb_wrapper:hover .cp_uxb_image {
        transform: scale(1.1);
    }

    .cp_uxb_wrapper:hover .cp_uxb_text {
        transform: translateX(0);
    }
}

@media only screen and (max-width: 40em) {
    .cp_uxb_wrapper{
        margin: 0 auto 18vh;
        grid-template-rows: 1fr 1fr;
    }
    
    .cp_uxb_haze{grid-column: 1/-1; opacity: 1}
    
    .cp_uxb_image{
        transform: scale(1.5) translateY(6em) translateX(1em);
        opacity: 1;
        grid-row: 1;
        height: 60vh;
    }
    .cp_uxb_wrapper:hover .cp_uxb_image {
        transform: scale(1.5) translateY(5em);
    }
    .cp_uxb_text{
        padding-top: 3em;
        grid-row: 2;
        background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 80%, rgba(0,0,0,0.5) 95%, rgba(0,0,0,0) 100%);}
    
}

/*--------------*/


/*--------------------ART-----------------------*/

.art_intro{
    max-width: 88em;
    margin: 20vh auto;
    padding: 0 5em;
}

@media only screen and (max-width: 50em) {
    .art_intro{padding: 0 2em;}
    .sunrise{max-height: 20em}
}

.sunrise{
    margin-bottom: 5em;
    height: 70vh;
    background: transparent linear-gradient(180deg, #000 0%, #121b30 10%, #42588F 24%, #657FD9 35%, #8DA4EB 51%, #DBC6DB 65%, #E2D7E6 73%, #F2EDF7 88%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
}

.art_wrapper{
    display: grid;
    margin: -5em 0 5px 0;
    grid-gap: 5px;
    background-color: #F8F8F8;
}

.art_wrapper img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.side_by_side{
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 5px;
}

.side_by_side1{
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    grid-column-gap: 5px;
}

.side_by_side2{
    display: grid;
    grid-template-columns: 1.15fr 1fr;
    grid-column-gap: 5px;
}

.side_by_side3{
    display: grid;
    grid-template-columns: 3fr 0fr;
    grid-column-gap: 5px;
}


/*---------------------SNACKBAR-----------------------*/

.snackbar_wrapper{
    background: #333333;
    position: fixed;
    bottom: 2em;
    right: 2em;
    z-index: 10;
    border-radius: 4px;
    box-shadow: 0 .2em .4em rgba(0, 0, 0, 0.3);
    margin-left: 2em;
    transition: ease .3s;
}

.snackbar_content{
    margin: 1.2em 1.5em;
    align-items: center;
    display: flex;
}

.snackbar_wrapper p {
    color: white;
    line-height: 1.3em;
    padding-right: 2em;
    font-size: 1em
}

.snackbar_wrapper h4{
    color: rgb(0, 191, 255);
    font-weight: 600;
    letter-spacing: .5px;
    cursor: pointer;
}

@media only screen and (max-width: 33em) {
    .snackbar_wrapper{
        border-radius: 0;
        bottom: 0em;
        right: 0;
        left: 0;
        margin: 0
    }
}

.snackbar_inactive{
    transform: translateY(200%);
}


/*---------------------HIGHLIGHTS-----------------------*/

.highlight_wrapper{
    margin: 3em 3em;
}

.highlight{
    z-index: 9;
    padding: 7em 2em 6.7em;
    text-align: center;
    background-color: #242424;
    border-radius: .6em;
    margin: 0 auto;
    max-width: 85em;
    box-shadow: 0 .5em 2em rgba(0, 0, 0, 0.6);
}

.highlight h3{
    margin: 0 auto .3em;
    max-width: 23em;
}

.highlight h4{margin-bottom: 1em}

.art_wrapper .highlight{
    z-index: 9;
    transform: scale(1.0);
    margin: -5em auto;
    background-color: #FFF;
    box-shadow: 0 .5em 2em rgba(0, 0, 0, 0.03);
}

.art_wrapper .highlight h3{
    color: #242424;
}

.highlight button{
    margin-top: 1em;
}

@media only screen and (max-width: 70em){
    .highlight_wrapper{margin: 3em 0;}
    .highlight{border-radius: 0}
    .art_wrapper .highlight{margin: 0em; background-color: #F8F8F8}
    .art_wrapper .highlight_wrapper{margin: 0em}
}

/*---------------------QUOTE SLIDER-----------------------*/

.slider_wrapper{
    padding: 7em 2em 6em;
    text-align: center;
    background-color: #F8F8F8;
    margin: 3em 0;
}

.slider{
    margin: 0 auto;
    max-width: 45em;
}

.slider h3{
    font-size: 1.5em;
}

.slider h4{
    color: #A7A7A7;
    margin-bottom: 1em;
}

@media only screen and (max-width: 70em) {
    .slider{max-width: 35em;}
    .slider h3{font-size: 1.3em}
}

.slider_nav{
    display: flex;
    justify-content: center; 
}

.left_arrow{
    width: 25px;
    height: 25px;
    cursor: pointer;
    padding: 1.43em .8em;
    
}

.right_arrow{
    width: 25px;
    height: 25px;
    cursor: pointer;
    padding: 1.43em .8em;
}

.dots{
    margin-top: 2em;
    display: flex; 
}

.dot_active{
    border-radius: 50%;
    width: 7px;
    height: 7px;
    background-color: #000;
    margin: 0 .5em;
}

.dot_inactive{
    border-radius: 50%;
    width: 7px;
    height: 7px;
    background-color: #A7A7A7;
    margin: 0 .5em;
}

.slider_content_one{display: inline;}

.slider_content_two{display: none;}

.slider_content_three{display: none;}

.slider_content_four{display: none;}

/*For Javascript to activate*/
.slider_content_inactive{display: none;}
.slider_content_active{display: inline;}


/*----------------FOOTER-----------------*/

footer{
    margin-top: -5px;
    text-align: center;
    background: #f8f8f8;
}

footer h4{
    color: #A3A3A3;
    padding: 6em 0 2em 0;
    
}

footer .social{
    margin: 0 auto;
    max-width: 25em;
    width: 70%;
    position: static;
    border-top: 1px solid #B3B3B3;
    padding: 2.2em 0 5em;

}

footer p{
    padding-bottom: 2em;
    font-size: .8em;
    color: #5555;
}


/*--------------------404.HTML-----------------------*/


.doh{
    max-width: 68em;
    padding: 20vh 0em 0 10em;
    margin: 0 auto;  
}

.doh h2{
    max-width: 27em;
    margin-bottom: 1.5em;
}

.homer{
    margin: 0 10% 0 auto;
    max-width: 25em;
}

@media only screen and (max-width: 80em) {
    .doh{padding: 9em 2.5em 0em 2.5em}
    .homer{width: 15em}
}