/* CSS DOCUMENT */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display:block;}body{line-height:1;}ol, ul{list-style:none;}blockquote, q{quotes:none;}blockquote:before, blockquote:after,q:before, q:after{content:'';content:none;}table{border-collapse:collapse;border-spacing:0;}img{width:100%;}

h1{
    font-family: proxima-nova, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 5.5em;
    color: #242424;
    padding-bottom: .1em;
}

h2{
    font-family: depot-new-web, sans-serif;
    font-weight: 300;
    font-size: 1.5em;
    line-height: 1.8em;
    color: #242424;
    
}

h3{
    font-family: depot-new-web, sans-serif;
    font-weight: 400;
    font-size: 1.4em;
    line-height: 1.5em;
    color: #242424;
}

h4{
    font-family: proxima-nova, sans-serif;
    font-weight: 500;
    font-size: 1.1em;
    text-transform: uppercase;
    color: #242424;
    padding-left: 1.5em;
    padding-bottom: 1.3em;
}

p{
    font-family: depot-new-web, sans-serif;
    font-weight: 300;
    font-size: 1em;
    line-height: 1.5em;
    color: #242424;
}

button{
    cursor: pointer;
    background: none;
    padding: .5em 1em;
    font-family: proxima-nova, sans-serif;
    font-weight: 500;
    font-size: 1em;
    border: #242424 solid 2px;
    border-radius: 4px;
    transition: ease .3s;
}

button:hover{
    box-shadow: 0 .5em 1em rgba(0, 0, 0, 0.2);
    transform: translateY(-.2em)
}

@media only screen and (max-width: 70em) {
    h1{font-size: 4em}
    h2{font-size: 1.3em}
    h3{font-size: 1.2em}
    h4{font-size: 1em}
}

@media only screen and (max-width: 50em) {
    h1{font-size: 3.3em}
    h2{font-size: 1.2em}
}


/*---------------------NAVIGATION-----------------------*/

.drawer_bubble{display: none;}

.nav_close_button{display: none;}

main{padding-left: 12em;} 

nav{
    height: 100%;
    width: 12em;
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    background-color: white;
    border-right: solid #F1F1F1 2px;
    transition: ease .3s;
}

nav:hover{
    padding-left: 1em;
    box-shadow: 0 0 2em rgba(0, 0, 0, 0.1);
}

.logo{
    width: 4em;
    margin: 2em;
    float: left;
}

nav ul{
    position: absolute;
    top: 43%;
    list-style: none;
    padding-left: 1.6em;
    font-size: 1.2em;
}

nav a{
    text-decoration: none;
    line-height: 2.5em;
    font-family: proxima-nova, sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #242424;
}

.social{
    position: absolute;
    bottom: 1.5em;
    padding-left: 1.3em;
}

.social img{
    width: 1.1em;
    padding: 0 .9em;
}

/*Optimizing for wide and short monitors*/
@media only screen and (min-width: 90em) {
    nav{padding-left: 2em}
    nav:hover{padding-left: 3em}
    .social{padding-left: .2em}
    main{padding-left: 14em;}
}

@media only screen and (max-height: 30em) {
    .logo{width: 2.5em}
    nav ul{top: 30%;}
    nav a{line-height: 2em}
    }

/*Implementing MOBILE sliding navigation drawer*/
@media only screen and (max-width: 50em) {
    nav{
        transform: translateX(-100%);
        width: 15em;
        border: none;
    }
    
    nav:hover{padding-left: 0;}
    
    main{
        padding-left: 0;
        margin-left: 0; 
    }
    
    .drawer_bubble{
        box-shadow: 0 0 0 2px #F1F1F1;
        background-color: #FFF;
        display: block;
        z-index: 99;
        margin: 1.7em 0 0 1.7em;
        height: 3.3em;
        width: 3.3em;
        border-radius: 50%;
        position: fixed;
    }
    
    nav a{line-height: 3em}
    
    .drawer_icon{
        position: absolute;
        transform: scale(.62);
        cursor: pointer;
    }

    .social img{padding: 0 1.3em;}
    
    .social{bottom: 1em;}
    
    .nav_shadow{
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        background-color: rgba(0, 0, 0, 0.3);
        height: 100%;
        width: 100%;
}
}

/*For Javascript to toggle*/
.nav_active{
    transform: translateX(0%);
    box-shadow: 0 0 2em rgba(0, 0, 0, 0.1);
}

.nav_shadow_active{display: block;}

.drawer_bubble_active{
        box-shadow: 0 0 0 2px #F1F1F1;
        background-color: #FFF;
}

/*---------------------INTROS-----------------------*/


.intro h2{max-width: 27em;}

.intro img{
    margin-top: 1em;
    width: 13em;
}

.intro{
    max-width: 68em;
    padding: 15vh 5em;
    margin: 0 auto; 
}

.intro_container{
    background-color: #F8F8F8;
    margin-bottom: 3em;
}

@media only screen and (max-width: 50em) {
    .intro{padding: 10em 2.5em 8em 2.5em;}
    .intro img{width: 10em;}
    .intro_container{margin-bottom: 1em; min-height: 20em}
}


/*---------------------HIGHLIGHTS-----------------------*/

.highlight{
    padding: 7em 2em;
    text-align: center;
    background-color: #F8F8F8;
}

.highlight h3{
    margin: 0 auto;
    font-size: 2em;
    max-width: 23em;
    line-height: 1.3em;
    font-weight: 400;
    margin-bottom: 1em;
}

.highlight h4{
    font-family: proxima-nova, sans-serif;
    color: #A7A7A7;
    padding: 0;
    margin-bottom: 1em;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 400;
}

@media only screen and (max-width: 60em){
    .highlight h3{font-size: 1.5em}
    .highlight h4{font-size: .9em}
}

/*----------------FOOTERS-----------------*/

footer{
    background: #f8f8f8;
    padding: 2em 0;
}

footer p{
    margin: 2em;
    font-size: 1em;
    color: #5555;
    text-align: center;
}