---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="404 Error | Eric Grossman" description="404 Error fallback page">
	<div class="narration doh">
		<h1>d’oh, 404.</h1>
		<p>Welp... this page is missing.</p>
		<p>
			If you have a moment, please use the report button below to let Eric know about this
			problem. Thank you kind&nbsp;human.
		</p>
		<div class="btn-row">
			<a
				class="btn"
				href="mailto:contact@eric-grossman.com?subject=I found Homer! (404 Error)&body=[Please tell Eric what you clicked on prior to landing on the 404 Error page. Thank you!]">
				Report Problem
			</a>
			<a class="btn" href="https://eric-grossman.com">Portfolio Home</a>
		</div>
	</div>

	<div class="homer">
		<img
			src="https://eric-grossman.com/assets/404/homer-404.png"
			alt="Homer Simpson smacking his forehead in disappointment."
		/>
	</div>
</MainLayout>

<style>
	.doh {
		padding-top: 25vh;
	}

	.doh p {
		margin-bottom: 10px;
		max-width: 42ch;
	}

	.doh .btn-row {
		margin-top: 10px;
	}

	.homer {
		line-height: 0;
		width: 100%;
		margin: 0 auto;
		max-width: 900px;
		text-align: right;
	}

	.homer img {
		margin: 50px 10% 0 auto;
		max-width: 20em;
	}

	@media only screen and (max-width: 80em) {
		.homer {
			width: 100%;
		}

		.homer img {
			max-width: 15em;
		}
	}
</style>
