<div class="art-grid" id="art">
	<div class="full-width">
		<div class="loading-indicator" style="aspect-ratio: 2300/1262">
			<img
				src="./assets/art/eric-grossman-1.jpg"
				alt="Bride and groom walking along a rocky ridge."
				loading="eager"
			/>
		</div>
	</div>

	<div class="columns custom-columns-1">
		<div class="loading-indicator" style="aspect-ratio: 12/15">
			<img
				src="./assets/art/eric-grossman-2.jpg"
				alt="Headshot of a woman in an orange jumpsuit."
				loading="lazy"
			/>
		</div>
		<div class="loading-indicator" style="aspect-ratio: 2500/3751">
			<img
				src="./assets/art/eric-grossman-3.jpg"
				alt="Woman surrounded by purple smoke."
				loading="lazy"
			/>
		</div>
	</div>

	<div class="highlight-wrapper">
		<div class="highlight">
			<h3>Where I Began</h3>
			<p>
				My love for technology and design began with making art like this. This passion
				now drives my UX design&nbsp;work.
			</p>
		</div>
	</div>

	<div class="full-width">
		<div class="loading-indicator" style="aspect-ratio: 3000/2044">
			<img
				src="./assets/art/eric-grossman-4.jpg"
				alt="Man sleeping on a car hood which is floating in the clouds. Text reads: 'Foxygen, On Blue Mountain'."
				loading="lazy"
			/>
		</div>
	</div>

	<div class="columns">
		<div class="loading-indicator">
			<img
				src="./assets/art/eric-grossman-5.jpg"
				alt="Red flower on fire in the style of an album cover. Text reads: 'Dolores'."
				loading="lazy"
			/>
		</div>
		<div class="loading-indicator">
			<img
				src="./assets/art/eric-grossman-8.jpg"
				alt="TV on a street pavement in the style of an album cover. Text reads: 'DAMN.'."
				loading="lazy"
			/>
		</div>
	</div>

	<div class="highlight-wrapper">
		<div class="highlight">
			<h3>Creating Imagery for Designs</h3>
			<p>
				Each piece of digital art is original, meaning every element comes from my
				trusty&nbsp;camera.
			</p>
		</div>
	</div>

	<div class="columns">
		<div class="loading-indicator" style="aspect-ratio: 2000/2667">
			<img
				src="./assets/art/eric-grossman-6.jpg"
				alt="Cherry Blossom branches protruding from a cloud as if they were lightning. Text reads: '11,660BC'."
				loading="lazy"
			/>
		</div>
		<div class="loading-indicator" style="aspect-ratio: 2000/2666">
			<img
				src="./assets/art/eric-grossman-7.jpg"
				alt="Plasma from four finger tips striking a moon. Text reads: '0,514,170'."
				loading="lazy"
			/>
		</div>
	</div>

	<div class="full-width">
		<div class="loading-indicator" style="aspect-ratio: 3000/1715">
			<img
				src="./assets/art/eric-grossman-15.jpg"
				alt="Three men in suits drinking wine."
				loading="lazy"
			/>
		</div>
	</div>

	<div class="highlight-wrapper">
		<div class="highlight">
			<h3>Editing Photo Shoots</h3>
			<p>
				Handcrafted color profiles for each shoot ensure that a client&rsquo;s photos
				feel coherent, yet&nbsp;unique.
			</p>
		</div>
	</div>

	<div class="full-width">
		<div class="loading-indicator" style="aspect-ratio: 2500/1667">
			<img
				src="./assets/art/eric-grossman-18.jpg"
				alt="Stylish modern living room with bright light coming from window."
				loading="lazy"
			/>
		</div>
	</div>

	<div class="columns">
		<div class="loading-indicator">
			<img
				src="./assets/art/eric-grossman-21.jpg"
				alt="A plane, highway sign, and window reflection in the style of an album cover. Text reads: 'world'."
				loading="lazy"
			/>
		</div>
		<div class="loading-indicator">
			<img
				src="./assets/art/eric-grossman-22.jpg"
				alt="Man taking a selfie in a mirror, which is floating in a lake in the style of an album cover. Text reads: 'howdy'."
				loading="lazy"
			/>
		</div>
	</div>

	<div class="full-width">
		<div class="loading-indicator" style="aspect-ratio: 3/2">
			<img
				src="./assets/art/eric-grossman-19.jpg"
				alt="Man in designer-clothes looking into the distance."
				loading="lazy"
			/>
		</div>
	</div>

	<div class="highlight-wrapper">
		<div class="highlight">
			<h3>How I Use These Skills</h3>
			<p>
				Creating digital art taught me the foundational skills needed to design visually
				appealing user&nbsp;interfaces.
			</p>
		</div>
	</div>

	<div class="columns custom-columns-2">
		<div class="loading-indicator" style="aspect-ratio: 1200/1553">
			<img
				src="./assets/art/eric-grossman-10.jpg"
				alt="Man sitting on a couch adorned with graphical elements."
				loading="lazy"
			/>
		</div>
		<div class="loading-indicator" style="aspect-ratio: 2500/3667">
			<img
				src="./assets/art/eric-grossman-11.jpg"
				alt="Advertisement showing the Olympus OM-1 film camera floating in front of a blue background."
				loading="lazy"
			/>
		</div>
	</div>

	<div class="full-width">
		<div class="loading-indicator" style="aspect-ratio: 3/2">
			<img
				src="./assets/art/eric-grossman-12.jpg"
				alt="Woman wearing stylish glasses lit with red and purple light."
				loading="lazy"
			/>
		</div>
	</div>

	<div class="columns">
		<div class="loading-indicator" style="aspect-ratio: 2/3">
			<img
				src="./assets/art/eric-grossman-13.jpg"
				alt="Woman in designer-clothes clutching her neck scarf."
				loading="lazy"
			/>
		</div>
		<div class="loading-indicator" style="aspect-ratio: 2/3">
			<img
				src="./assets/art/eric-grossman-14.jpg"
				alt="Legs wearing designer-pants and high-heels."
				loading="lazy"
			/>
		</div>
	</div>
</div>

<style>
	.highlight-wrapper {
	margin: 2em 0;
	background-color: var(--bg-layer1);
}

.highlight {
	padding: 19vh 2em 18.5vh;
	text-align: center;
	margin: 0 auto;
}

.highlight p {
	margin: 0 auto 0.3em;
	max-width: 23em;
	font-family: depot-new-web, sans-serif;
	font-size: 2rem;
	font-weight: 500;
	line-height: 1.3;
}

.highlight h3 {
	margin: 0 auto 1em auto;
}

.art-grid .highlight h3 {
	color: #777777;
}

.art-grid .highlight-wrapper {
	margin: 0;
	background-color: #f8f8f8;
}

.art-grid .highlight p {
	color: #333333;
}

@media only screen and (max-width: 70em) {
	.highlight {
		padding: 15vh 2em 14.5vh;
	}

	.highlight p {
		font-size: 1.7rem;
	}
}

@media only screen and (max-width: 50rem) {
	.highlight p {
		font-size: 1.4rem;
	}
}

.art-grid {
	display: grid;
	grid-gap: 5px;
	margin-bottom: 32px;
	background: linear-gradient(
		180deg,
		#ffffff 0%,
		#ffffff 90%,
		var(--bg-layer-base) 100%
	);
}

.loading-indicator {
	width: 100%;
	animation: loading-pulse 2s ease-in-out infinite;
	background: linear-gradient(90deg, #d2d2d2, #f4f4f4, #f4f4f4);
	background-size: 200% 200%;
	border-radius: 4px;
	aspect-ratio: 1/1;
}

.art-grid img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 4px;
}

.columns {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 5px;
}

.custom-columns-1 {
	grid-template-columns: 1.2fr 1fr;
}

.custom-columns-2 {
	grid-template-columns: 1.133fr 1fr;
}
</style>