/* CSS DOCUMENT */

/*---------------------UX BANNERS-----------------------*/

.mobell-uxb-wrapper button, .boltabout-uxb-wrapper button, .cp-uxb-wrapper button{
    cursor: not-allowed;
}

.mobell-uxb-wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    margin: 23vh auto;
    max-width: 100em;
    max-height: 100em;
    min-height: 40em;
    column-gap: 5%;
}

.mobell-uxb-glow{
    align-self: center;
    grid-column: 1/3;
    grid-row: 1;
    width: 30em;
    height: 30em;
    background: radial-gradient(ellipse closest-side, rgb(248, 161, 0) 0%, rgba(248,181,0,0.10) 70%, rgba(248,181,0,0) 100%);
    transform: scale(2) translateX(2em);
    opacity: .5;
    transition: ease 1s;
}

.mobell-uxb-image{
    grid-row: 1;
    grid-column: 1/3;
    transform: scale(1.3);
    transform-origin: right;
    transition: ease 1s;
}

.mobell-uxb-text{
    grid-column: 3/5;
    grid-row: 1;
    margin-right: 4em;
    align-self: center;
    z-index: 1;
    max-width: 40em;
    transition: ease 1s;
}

.mobell-uxb-wrapper:hover .mobell-uxb-glow{
    transform: scale(2.7) translateX(2em);
}

.mobell-uxb-wrapper:hover .mobell-uxb-image{
    transform: scale(1.3) translateX(.3em);
}

.mobell-uxb-wrapper:hover .mobell-uxb-text{
    transform: translateX(-.3em);
}

@media only screen and (max-width: 70em){

    .mobell-uxb-wrapper{
        column-gap: 0;
    }

    .mobell-uxb-glow{
        transform: scale(1.7) translateX(-2em);
    }

    .mobell-uxb-image{
        transform: scale(1.3) translateX(-2em);
    }

    .mobell-uxb-text{
        margin-right: 3em;
    }

    .mobell-uxb-wrapper:hover .mobell-uxb-glow{
        transform: scale(1.7) translateX(-2em);
    }
    
    .mobell-uxb-wrapper:hover .mobell-uxb-image{
        transform: scale(1.3) translateX(-2em);
    }

    .mobell-uxb-wrapper:hover .mobell-uxb-text{
        transform: translateX(0);
    }
}

@media only screen and (max-width: 50em){
    .mobell-uxb-wrapper{
        margin: 0 auto 10vh;
        grid-template-rows: 31em auto;
    }

    .mobell-uxb-glow{
        grid-column: 1/-1;
        transform: scale(1.5) translateX(-1em);
        width: auto;
        height: 25em;
        margin-bottom: -10em
    }

    .mobell-uxb-image{
        transform: scale(1.5) translateX(-1em);
        transform-origin: top;
        grid-column: 1/-1;
        width: auto;
        height: 60vh;
        min-height: 25em;
        max-height: 28em;
        margin: 5em auto -5em;
    }

    .mobell-uxb-text{
        padding: 3em 2em 0;
        grid-column: 1/-1;
        grid-row: 2;
        margin: 0;
        max-width: none;
        background: linear-gradient(0deg, var(--bg-layer-base) 0%, var(--bg-layer-base) 80%, rgba(33,32,36,.8) 90%, rgba(33,32,36,.5) 94%, rgba(33,32,36,0.3) 96%, rgba(33,32,36,0) 100%);
    }

    .mobell-uxb-text p, .mobell-uxb-text h5 {
        max-width: 550px
    }

    .mobell-uxb-wrapper:hover .mobell-uxb-glow{
        transform: scale(1.5) translateX(-1em);
    }
    
    .mobell-uxb-wrapper:hover .mobell-uxb-image{
        transform: scale(1.5) translateX(-1em);
    }

    .mobell-uxb-wrapper:hover .mobell-uxb-text{
        transform: translateX(0);
    }

    @media (prefers-color-scheme: light) {
        .mobell-uxb-text{
            background: linear-gradient(0deg, var(--bg-layer-base) 0%, var(--bg-layer-base) 80%, rgba(225, 225, 225,.8) 90%, rgba(225, 225, 225,.5) 94%, rgba(225, 225, 225,0.3) 96%, rgba(225, 225, 225,0) 100%);
        }
    }
}

/*--------------*/

.boltabout-uxb-wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    margin: 40vh auto 25vh;
    max-width: 100em;
    max-height: 100em;
    min-height: 40em;
    column-gap: 3%
}

.boltabout-uxb-glow{
    align-self: center;
    grid-column: 4/5;
    grid-row: 1;
    width: 30em;
    height: 30em;
    background: radial-gradient(ellipse closest-side, rgba(17,172,243,1) 0%, rgba(17,172,243,0.10) 70%, rgba(17,172,243,0) 100%);
    transform: scale(1.8) translateX(-3em) translateY(-1em);
    opacity: .8;
    transition: ease 1s;
}

.boltabout-uxb-image{
    grid-row: 1;
    grid-column: 3/5;
    transform: scale(1.5);
    transform-origin: left;
    transition: ease 1s;
}

.boltabout-uxb-text{
    grid-column: 1/3;
    grid-row: 1;
    margin-left: 3em;
    align-self: center;
    z-index: 1;
    max-width: 40em;
    transition: ease 1s;
}

.boltabout-uxb-wrapper:hover .boltabout-uxb-glow{
    transform: scale(2.5) translateX(-3em) translateY(-1em);
}

.boltabout-uxb-wrapper:hover .boltabout-uxb-image{
    transform: scale(1.5) translateX(-.3em);
}

.boltabout-uxb-wrapper:hover .boltabout-uxb-text{
    transform: translateX(.3em);
}

@media only screen and (max-width: 70em){
    
    .boltabout-uxb-wrapper{
        column-gap: 0;
        margin: 15vh auto;
    }
    
    .boltabout-uxb-glow{
        width: 25em;
        height: 25em;
        grid-column: 4/5;
        transform: scale(2.2) translateX(5em) translateY(1em);
    }
    
    .boltabout-uxb-image{
        grid-column: 4/5;
        transform: scale(3) translateX(1em);
        align-self: center;
    }
    
    .boltabout-uxb-text{
        grid-column: 1/4;
        max-width: 35em;
    }
    
    .boltabout-uxb-wrapper:hover .boltabout-uxb-glow{
        transform: scale(2.2) translateX(5em) translateY(1em);
    }
    
    .boltabout-uxb-wrapper:hover .boltabout-uxb-image{
        transform: scale(3) translateX(1em);
    }
    
    .boltabout-uxb-wrapper:hover .boltabout-uxb-text{
        transform: translateX(0);
    }
}

@media only screen and (max-width: 50em){

    .boltabout-uxb-wrapper{
        margin: -7vh auto 10vh;
        grid-template-rows: 33em auto;
    }

    .boltabout-uxb-glow{
        grid-column: 1/-1;
        transform: scale(1.5) translateX(2em);
        width: auto;
        height: 25em;
        margin-bottom: -10em
    }

    .boltabout-uxb-image{
        transform: scale(1.5) translateX(4em) translateY(1em);
        transform-origin: top;
        grid-column: 1/-1;
        width: auto;
        height: 50vh;
        min-height: 25em;
        max-height: 30em;
        margin: 5em auto 2em;
    }

    .boltabout-uxb-text{
        padding: 3em 2em 0;
        grid-column: 1/-1;
        grid-row: 2;
        margin: 0;
        max-width: none;
        background: linear-gradient(0deg, var(--bg-layer-base) 0%, var(--bg-layer-base) 80%, rgba(33,32,36,.8) 90%, rgba(33,32,36,.5) 94%, rgba(33,32,36,0.3) 96%, rgba(33,32,36,0) 100%);
    }

    .boltabout-uxb-text p, .boltabout-uxb-text h5 {
        max-width: 550px
    }

    .boltabout-uxb-wrapper:hover .boltabout-uxb-glow{
        transform: scale(1.5) translateX(2em);
    }
    
    .boltabout-uxb-wrapper:hover .boltabout-uxb-image{
        transform: scale(1.5) translateX(4em) translateY(1em);
    }

    .boltabout-uxb-wrapper:hover .boltabout-uxb-text{
        transform: translateX(0);
    }

    @media (prefers-color-scheme: light) {
        .boltabout-uxb-text{
            background: linear-gradient(0deg, var(--bg-layer-base) 0%, var(--bg-layer-base) 80%, rgba(225, 225, 225,.8) 90%, rgba(225, 225, 225,.5) 94%, rgba(225, 225, 225,0.3) 96%, rgba(225, 225, 225,0) 100%);
        }
    }
}

/*--------------*/

.cp-uxb-wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    margin: 21vh auto 0;
    max-width: 100em;
    max-height: 100em;
    min-height: 40em;
    column-gap: 5%;
}

.cp-uxb-glow{
    align-self: center;
    grid-column: 1/3;
    grid-row: 1;
    margin: 0 auto;
    width: 20em;
    height: 30em;
    background: radial-gradient(ellipse closest-side, rgb(21, 71, 52) 0%, rgba(21,71,52,0.10) 90%, rgba(21,71,52,0) 100%);
    transform: scale(1.5) translateX(1em) translateY(-2em) rotate(12deg);
    opacity: 1;
    transition: ease 1s;
}

@media (prefers-color-scheme: light) {
    .cp-uxb-glow{
        background: radial-gradient(ellipse closest-side, rgb(32, 124, 89) 0%, rgba(33, 118, 85, 0.066) 90%, rgba(42, 168, 120, 0) 100%);
    }
}

.cp-uxb-image{
    grid-row: 1;
    grid-column: 1/3;
    transform: scale(1.1);
    transform-origin: center;
    transition: ease 1s;
}

.cp-uxb-text{
    grid-column: 3/5;
    grid-row: 1;
    margin-right: 4em;
    align-self: center;
    z-index: 1;
    max-width: 40em;
    transition: ease 1s;
}

.cp-uxb-wrapper:hover .cp-uxb-glow{
    transform: scale(2.5) translateX(1.4em) translateY(-2em) rotate(12deg);
}

.cp-uxb-wrapper:hover .cp-uxb-image{
    transform: scale(1.1) translateX(.3em);
}

.cp-uxb-wrapper:hover .cp-uxb-text{
    transform: translateX(-.3em);
}

@media only screen and (max-width: 90em){
    .cp-uxb-glow{
        transform: scale(1.5) translateX(1em) translateY(-2em) rotate(12deg);
    }

    .cp-uxb-wrapper:hover .cp-uxb-glow{
        transform: scale(2.0) translateX(1.4em) translateY(-2em) rotate(12deg);
    }
}

@media only screen and (max-width: 70em){

    .cp-uxb-wrapper{
        column-gap: 0;
    }
    
    .cp-uxb-glow{
        transform: scale(1.5) translateX(0em) translateY(-2em) rotate(12deg);
    }
    
    .cp-uxb-image{
        transform: scale(1.1) translateX(-2em);
    }
    
    .cp-uxb-text{
        margin-right: 3em;
    }

    .cp-uxb-wrapper:hover .cp-uxb-glow{
        transform: scale(1.5) translateX(0em) translateY(-2em) rotate(12deg);
    }

    .cp-uxb-wrapper:hover .cp-uxb-image{
        transform: scale(1.1) translateX(-2em);
    }

    .cp-uxb-wrapper:hover .cp-uxb-text{
        transform: translateX(0);
    }
}

@media only screen and (max-width: 50em){

    .cp-uxb-wrapper{
        margin: -7vh auto 10vh;
        grid-template-rows: 32em auto;
    }
    
    .cp-uxb-glow{
        grid-column: 1/-1;
        transform: scale(1.3) translateX(-1em);
        width: 100%;
        height: 25em;
        margin-bottom: -10em
    }

    .cp-uxb-image{
        transform: scale(1.4) translateX(-1em);
        transform-origin: top;
        grid-column: 1/-1;
        width: auto;
        height: 60vh;
        min-height: 25em;
        max-height: 30em;
        margin: 5em auto -5em;
    }

    .cp-uxb-text{
        padding: 3em 2em 0;
        grid-column: 1/-1;
        grid-row: 2;
        margin: 0;
        max-width: none;
        background: linear-gradient(0deg, var(--bg-layer-base) 0%, var(--bg-layer-base) 80%, rgba(33,32,36,.8) 90%, rgba(33,32,36,.5) 94%, rgba(33,32,36,0.3) 96%, rgba(33,32,36,0) 100%);
    }

    .cp-uxb-text p, .cp-uxb-text h5 {
        max-width: 550px
    }

    .cp-uxb-wrapper:hover .cp-uxb-glow{
        transform: scale(1.3) translateX(-1em);
    }
    
    .cp-uxb-wrapper:hover .cp-uxb-image{
        transform: scale(1.4) translateX(-1em);
    }

    .cp-uxb-wrapper:hover .cp-uxb-text{
        transform: translateX(0);
    }

    @media (prefers-color-scheme: light) {
        .cp-uxb-text{
            background: linear-gradient(0deg, var(--bg-layer-base) 0%, var(--bg-layer-base) 80%, rgba(225, 225, 225,.8) 90%, rgba(225, 225, 225,.5) 94%, rgba(225, 225, 225,0.3) 96%, rgba(225, 225, 225,0) 100%);
        }
    }
}